/* background */
.bg-cover {
  background-size: cover;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-contain {
  background-size: contain;
}

.bg-repeat {
  background-repeat: no-repeat;
}

.bg-cover-full {
  background-size: cover;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.overlay:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  position: absolute;
}

/* button */
.btn-transition {
  -webkit-transition: all 300ms ease-in-out !important;
  -o-transition: all 300ms ease-in-out !important;
  transition: all 300ms ease-in-out !important;
}

/* form style */
.form-line input[type=text] {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-width: 0px 0px 2px 0px!important;
  border-style: solid;
  border-radius: 0px !important;
  -webkit-transition: all 180ms ease-in-out;
  -o-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  outline: none !important;
}

.form-line select {
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-width: 0px 0px 2px 0px!important;
  border-style: solid;
  border-radius: 0px !important;
}

.form-line input:focus {
  opacity: .70;
}
.txt-c {
	text-align:center!important;
}
.txt-r {
	text-align:right!important;
}
.txt-l {
	text-align:left!important;
}
.dsp-i {
	display:inline!important;
}
.dsp-init {
	display:initial!important;
}
.dsp-ine {
	display:inherit!important;
}
.dsp-block {
	display:block!important;
}
.dsp-iblock {
	display:inline-block!important;
}
.dsp-table {
	display:table!important;
}
.dsp-itable {
	display:inline-table!important;
}
.dsp-tablecell {
	display:table-cell!important;
}
.dsp-tablerow {
	display:table-row!important;
}
.dsp-tablecol {
	display:table-column!important;
}
.dsp-tablecapt {
	display:table-caption!important;
}
.dsp-tablecolg {
	display:table-column-group!important;
}
.dsp-tableheadg {
	display:table-header-group!important;
}
.dsp-tablefootg {
	display:table-footer-group!important;
}
.dsp-tablerowg {
	display:table-row-group!important;
}
.dsp-none {
	display:none!important;
}
.dsp-grid {
	display:-webkit-box!important;
	display:-ms-flexbox!important;
	display:flex!important;
}
.dsp-igrid {
	display:-webkit-inline-box!important;
	display:-ms-inline-flexbox!important;
	display:inline-flex!important;
}
.dsp-flex {
	display:-webkit-box!important;
	display:-ms-flexbox!important;
	display:flex!important;
}
.dsp-iflex {
	display:-webkit-inline-box!important;
	display:-ms-inline-flexbox!important;
	display:inline-flex!important;
}
.justify-left {
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.justify-right {
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.justify-center {
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.justify-between {
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.justify-around {
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.align-top {
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.align-bottom {
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.align-center {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.align-baseline {
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.align-stretch {
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.content-start {
  -ms-align-content: flex-start;
  -o-align-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.content-end {
  -ms-align-content: flex-end;
  -o-align-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}
.content-center {
  -ms-align-content: center;
  -o-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.content-between {
  -ms-align-content: space-between;
  -o-align-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.content-around {
  -ms-align-content: space-around;
  -o-align-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
.content-stretch {
  -ms-align-content: space-stretch;
  -o-align-content: space-stretch;
  -ms-flex-line-pack: space-stretch;
      align-content: space-stretch;
}
.direction-row {
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.direction-row-reverse {
  -moz-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.direction-column {
  -moz-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.direction-column-reverse {
  -moz-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.wrap {
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.no-wrap {
  -o-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.wrap-reverse {
  -o-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.self-start {
  -ms-align-self: flex-start;
  -o-align-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.self-end {
  -ms-align-self: flex-end;
  -o-align-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.self-center {
  -ms-align-self: center;
  -o-align-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.self-baseline {
  -ms-align-self: baseline;
  -o-align-self: baseline;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
.self-stretch {
  -ms-align-self: stretch;
  -o-align-self: stretch;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
